/*----------------------------------------------------------------------MAIN--------------------------------------------------------------------*/
.main__contacts {
  flex: 1 1 auto;
  background-color: #fff;
}
.main__body {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.image__block {
  width: 100%;
  margin: 40px 0px;
  overflow-x: hidden;
}
.image__block img {
  width: 100%;
}
@media (min-width: 1480px) {
  .main__body {
    width: 1440px;
  }
}
@media (max-width: 1024px) {
  .image__block {
    margin: 20px 0px;
  }
}
@media (max-width: 768px) {
  .image__block {
    margin-top: 120px;
  }
}
/*------------------------------------------------------------------CONTACT-BLOCK---------------------------------------------------------------*/
.contacts__title {
  text-align: center;
  padding: 36px 0px;
}
.contact__title {
  font-size: calc(24px + 11 * (100vw / 1920));
  line-height: calc(27px + 11 * (100vw / 1920));
  text-transform: uppercase;
}
.contact__line {
  height: 3px;
  margin-top: 10px;
  background-color: #cda861;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 80px 100px;
  background: rgba(205, 168, 97, 0.2);
  border-radius: 50px;
  margin-bottom: 50px;
}
.text__contact {
  flex: 1 1 30%;
  font-size: calc(14px + 5 * (100vw / 1920));
  line-height: calc(26px + 5 * (100vw / 1920));
}
.text__contact p span {
  font-weight: 700;
}
.map {
  object-fit: none;
  flex: 1 1 60%;
}
.map iframe {
  width: 100%;
  height: 480px;
}
@media (max-width: 1250px) {
  .information {
    padding: 80px 50px;
  }
  .map iframe {
    height: 400px;
  }
}
@media (max-width: 900px) {
  .text__contact {
    flex: 1 1 40%;
   }
  .map iframe {
    height: 280px;
  }
  .map {
    flex: 1 1 40%;
  }
}
@media (max-width: 768px) {
  .information {
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
    padding: 50px 50px;
    margin-bottom: 40px;
  }
  .text__contact,
  .map {
    width: 100%;
  }
  .map iframe {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .information {
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
    padding: 50px 25px;
    margin-bottom: 30px;
  }
  .map iframe {
    height: 250px;
  }
}
@media (max-width: 420px) {
  .information {
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
    padding: 50px 25px;
  }
  .map iframe {
    height: 220px;
  }
}
/*--------------------------SEND-BLOCK----------------------------*/
.send__block {
  margin-bottom: 70px;
}
.send__text {
  font-size: calc(20px + 10 * (100vw / 1920));
  line-height: calc(30px + 10 * (100vw / 1920));
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding: 35px 0;
}
.fields__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.container__column {
  flex: 1 1 30%;
}
.input__field {
  border: 1px solid #000;
  background-color: #f4f4f4;
  width: 100%;
  padding: 28px 22px;
  font-size: calc(18px + 5 * (100vw / 1920));
  line-height: calc(26px + 5 * (100vw / 1920));
}
.input__field::-webkit-input-placeholder {
  color: #646464;
  font-size: calc(18px + 5 * (100vw / 1920));
  line-height: calc(26px + 5 * (100vw / 1920));
}
.container__column:last-child {
  flex: 1 1 100%;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.btn button{
  width: 80%;
  padding: 20px 0;
  background-color: #5e6748;
  font-size: calc(13px + 5 * (100vw / 1920));
  line-height: calc(20px + 5 * (100vw / 1920));
  color: #fff;
}
@media (max-width: 900px) {
  .fields__container {
    gap: 30px;
  }
  .input__field {
    padding: 10px 15px;
  }
  .btn {
    margin-top: 30px;
  }
  .btn button{
    padding: 15px 0;
  }
}
@media (max-width: 650px) {
  .send__block {
    margin-bottom: 50px;
  }
  .fields__container {
    gap: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}
