/*----------------------------------------------------------------------SALE------------------------------------------------------------------*/
.sale {
  background: url('../img/catalog/png/sale2.png') 50% / cover no-repeat;
  width: 100%;
  margin: 40px 0;
}
.sale__container{
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sale__box {
  color: #fff;
  background-color: #5e6748;
  padding: 7px 25px;
}
.text__sale {
  width: 60%;
  font-size: calc(20px + 11 * (100vw / 1920));
  line-height: calc(34px + 11 * (100vw / 1920));
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}
.btn__sale {
  display: block;
  padding: 15px 25px;
  background-color: #fff;
  border: 1px solid #000;  
}
.sale__box,
.btn__sale {
  font-size: calc(12px + 4 * (100vw / 1920));
  line-height: calc(18px + 4 * (100vw / 1920));
  text-align: center;
  border-radius: 5px;
}
.text__sale,
.btn__sale {
  margin-top: 25px
}
@media (min-width: 1480px) {
  .sale__container {
    width: 1440px;
  }
}
@media (max-width: 1024px) {
  .text__sale {
    width: 80%;
  }
  .sale__container{
    padding: 40px 40px;
  }
}
@media (max-width: 768px) {
  .sale {
    margin-top: 120px;
  }
  .sale__container{
    padding: 30px 20px;
  }
  .text__sale {
    width: 100%;
  }
  .text__sale,
  .btn__sale {
    margin-top: 15px
  }
  .btn__sale {
    padding: 7px 25px;  
  }
}
/*--------------------------------------------------------------------------FILTER---------------------------------------------------------------*/
.main__block {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1480px) {
  .main__block {
    width: 1440px;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}
.filter__container {
  flex: 1 1 25%;
}
.filter__title{
  font-weight: 600;
  font-size: calc(25px + 10 * (100vw / 1920));
  line-height: calc(38px + 10 * (100vw / 1920));
  text-transform: uppercase;
}
.filter__line {
  width: calc(90px + 20 * (100vw / 1920));
  height: 2px;
  background-color: #cda861;
  margin-bottom: 35px;
}
.filter {
  width: 100%;
  border-radius: 10px;
  background-color: #dbe1cd;
  color: #282739;
  padding: 25px 20px 10px;
}
.title__item {
  font-weight: 600;
  font-size: calc(16px + 2 * (100vw / 1920));
  line-height: calc(23px + 2 * (100vw / 1920));
  text-transform: uppercase;
}
.slide__container {
  width: 60%;
  margin: 15px 0px 25px;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #5E6748;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.range input {
  width: 50%;
  border: 1px solid #b4b4b4;
  background-color: #fff;
  border-radius: 3px;
  padding: 8px 15px;
  text-align: center;
}
.line_range {
  width: 1rem;
  height: 1px;
  background-color: #282739;
}
.range input::-webkit-input-placeholder {
  color: #282739;
  font-size: calc(14px + 6 * (100vw / 1920));
  line-height: calc(22px + 6 * (100vw / 1920));
}
.collections {
  margin: 20px 0;
}
.title__item {
  margin-bottom: 15px !important;
}
.collections label,
.color label,
.brands label {
  display: flex;
  margin-top: 15px;
  font-size: calc(12px + 6 * (100vw / 1920));
  line-height: calc(17px + 6 * (100vw / 1920));
  align-items: center;
}
.collections label input,
.color label input,
.brands label input {
  width: 16px;
  height: 16px;
  border: 1px solid #5d6c7b;
  border-radius: 2px;
  margin-right: 11px;
}
.brands {
  margin: 25px 0 38px;
}
.show_all {
  display: flex;
  justify-content: center;
  text-align: center;
}
.show_all p {
  font-weight: 700;
  font-size: calc(12px + 6 * (100vw / 1920));
  line-height: calc(17px + 6 * (100vw / 1920));
  color: #5e6748;
  margin-right: 20px;
}
/*------------------------------------------------------CATALOG-----------------------------------------------------*/
.catalog__block {
  flex: 1 1 75%;
}
.catalog {
  margin-top: 86px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.goods {
  width: 100%;
  height: auto;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.goods img {
  width: 100%;
}
.good__name,
.good__line,
.cost,
.stars {
  margin-left: 12px;
}
.good__name {
  font-weight: 600;
  font-size: calc(14px + 6 * (100vw / 1920));
  line-height: calc(21px + 6 * (100vw / 1920));
  letter-spacing: 0.1em;
  margin-top: 1.25rem;
}
.good__line {
  width: 70%;
  height: 2px;
  background-color: #cda861;
  margin-bottom: 1rem;
  transition: all 1s linear;
}
.goods:hover .good__line {
  width: 90%;
  transition: all 1s linear;
}
.goods .add__to__cart {
  display: none;
}
.goods:hover .add__to__cart {
  display: block;
  position: relative;
  top: -30px;
  width: 100%;
  z-index: 5;
  padding: 7px 0;
  text-align: center;
  background: rgba(253, 253, 253, 0.8);
  cursor: pointer;
}
.goods .add__to__cart p {
  display: none;
}
.goods:hover .add__to__cart p {
  display: block;
  font-weight: 700;
  font-size: calc(12px + 2 * (100vw / 1920));
  line-height: calc(16px + 2 * (100vw / 1920));
  letter-spacing: 0.1em;
  color: #5e6748;
  text-transform: uppercase;
}
.cost {
  font-size: calc(10px + 2 * (100vw / 1920));
  line-height: calc(14px + 2 * (100vw / 1920));
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 0.1rem;
}
.stars {
  margin-bottom: 1.5rem;
}
.stars img {
  width: 12px;
  height: 12px;
}
.label {
  position: absolute;
  z-index: 1;
  padding: 5px 28px;
  border-radius: 5px;
  margin-top: 14px;
  margin-left: 17px;
}
.label.hit {
  background-color: #cb0202;
}
.label.new {
  background-color: #ffc600;
}
.label p {
  font-weight: 700;
  font-size: calc(8px + 4 * (100vw / 1920));
  line-height: calc(10px + 4 * (100vw / 1920));
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}
.show__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0;
  gap: 32px;
}
.show__more h4 {
  font-weight: 700;
  font-size: calc(20px + 15 * (100vw / 1920));
  line-height: calc(30px + 15 * (100vw / 1920));
  text-transform: uppercase;
  color: #5e6748;
}
.show__more img {
  width: 25px;
  height: 40px;
}
@media (max-width: 1250px) {
  .content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .catalog__block {
    flex: 1 1 60%;
  }
  .catalog {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .filter__container {
    display: none;
  }
  .catalog {
    margin-top: 0;
  }
  .show__more {
    margin: 30px 0;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .good__line {
    width: 90%;
  }
  .label {
    padding: 3px 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 420px) {
  .label {
    margin-top: 5px;
    margin-left: 5px;
  }
}
/*--------------------------------------------------------------INFO-BLOCK------------------------------------------------------------------*/
.information__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5eedf;
  border-radius: 30px;
  padding: 100px 170px;
  color: #000;
  gap: 100px;
}
.item__info {
  flex: 1 1 30%;
  text-align: center;
}
.item__info img {
  width: 35%;
  margin-bottom: 25px;
}
.item__info h4 {
  font-weight: 400;
  font-size: calc(12px + 8 * (100vw / 1920));
  line-height: calc(18px + 8 * (100vw / 1920));
  margin-bottom: 8px;
}
.item__info p {
  font-weight: 400;
  font-size: calc(10px + 6 * (100vw / 1920));
  line-height: calc(15px + 6 * (100vw / 1920));
}
.button_up {
  width: 70px;
  height: 70px;
  background-color: #5e6748;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  transition: all 1s linear;
}
@media (max-width: 1250px) {
  .information__block {
    padding: 100px;
    gap: 70px;
  }
}
@media (max-width: 900px) {
  .information__block {
    padding: 70px 30px;
    gap: 30px;
  }
  .button_up {
    width: 60px;
    height: 60px; 
    bottom: 30px;
  }
  .button_up img {
    width: 30px;
  }
}
@media (max-width: 550px) {
  .information__block {
    flex-direction: column;
    padding: 50px 70px 50px;
    gap: 45px;
  }
  .item__info img {
    width: 15%;
    margin-bottom: 10px;
  }
  .button_up {
    width: 40px;
    height: 40px; 
    bottom: 20px;
  }
  .button_up img {
    width: 20px;
  }
}
@media (max-width: 420px) {
  .information__block {
    padding: 30px 30px 50px;
    gap: 30px;
  }
}
