* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*меняем подсчет ширины блока так, чтобы она была удобна для верстки*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*убираем линии обводки у некоторых браузеров*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

/*уравниваем поведение шрифтов и элементов у разных браузеров, в т.ч. запрещают увеличение шрифта самовольно на iphone*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*наследуем семейство шрифта, т.к. по умолчанию это не предусмотрено*/
input,
button,
textarea {
  font-family: inherit;
}

/*убираем некоторые особенности в разных браузерах*/
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*обнуляем заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*---------------------------HEADER------------------------*/
.header {
  max-width: 100%;
  height: auto;
  background: rgba(205, 168, 97, 0.2);
}
.header__container,
.footer__container,
.title__container,
.main__container {
  margin: 0 auto;
  padding: 0 6.56rem;
}
.header_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 15px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
  height: 80px;
}
.site_name {
  font-size: 48px;
  line-height: 73px;
  letter-spacing: 0.15em;
  color: #3f2100;
  font-family: "Titillium Web", sans-serif;
}
.search__container {
  display: flex;
  align-items: center;
  width: 295px;
  height: 40px;
}
.search {
  width: 200px;
  height: 40px;
  margin-right: 30px;
  display: flex;
}
.search__title {
  font-size: 23px;
  line-height: 31px;
  margin-left: 7px;
  align-items: center;
}
.cart,
.number_of_things {
  width: 30px;
  height: 30px;
}
.number_of_things {
  background-color: #000000;
  margin-left: 11px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding-top: 3px;
}
.line {
  height: 2px;
  background-color: #000;
  margin-bottom: 20px;
  border-radius: 1px;
}
.menu {
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}
.menu_item a {
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.menu_item a:hover {
  text-decoration: underline;
}
.menu_item.active a {
  text-decoration: underline;
}
.menu__icon {
  display: none;
}
body._lock {
  overflow: hidden;
}

/*-----------------------------MAIN-----------------------*/
.main {
  flex: 1 1 auto;
}

/*-----------------------------WELCOME------------------------*/
.welcome {
  background: url('../img/home/png/Body.png') 50% / cover no-repeat;
  padding-top: 15.625rem;
  padding-bottom: 28rem;
}
.welcome img{
  position: relative;
  float: left;
  width: 100%;
}
.title__container{
  float: right;
  margin-right: 4.375rem;
}
.title {
  font-size: calc(20px + 15 * (100vw / 1920));
  line-height: calc(33px + 15 * (100vw / 1920));
  text-transform: uppercase;
}
.title_text {
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 44px;
}
.title_button {
  padding: 15px 35px;
  background-color: #5e6748;
  border-radius: 15px;
}
.title_button a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
/*------------------------------BLOG--------------------------------*/
.blog {
  position: relative;
  background: url("../img/about/png/pattern.png") 50% / cover no-repeat;
}
.subtitle__block {
  text-align: center;
}
.subtitle {
  font-size: calc(20px + 10 * (100vw / 1920));
  line-height: calc(31px + 10 * (100vw / 1920));
  font-weight: 600;
  letter-spacing: 0.04em;
  margin-bottom: 0.375rem;
  padding-top: 80px;
  text-transform: uppercase;
  color: #34383d;
}
.line__subtitle {
  width: calc(300px + 130 * (100vw / 1920));
  height: 0.125rem;
  background-color: #cda861;
  margin: 0 auto 1.25rem;
}
.subtitle__block p {
  font-size: calc(16px + 6 * (100vw / 1920));
  margin-bottom: 26px;
  color: #34383d;
  opacity: 0.8;
}
.gallery__blog {
  width: 1284px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 114px;
  padding-bottom: 67px;
}
.item__blog {
  position: relative;
  width: 585px;
  height: 388px;
}
.item__blog .img__blog {
  position: absolute;
}
.calendar,
.comment {
  position: absolute;
  top: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  width: 113px;
  height: 20px;
}
.calendar {
  left: 50px;
}
.calendar p,
.comment p {
  font-weight: 400;
  font-size: calc(12px + 2 * (100vw / 1920));
  line-height: calc(17px + 2 * (100vw / 1920));
  color: #fff;
}
.comment {
  left: 176px;
}
.decore {
  position: absolute;
  z-index: 5;
  top: 298px;
  left: 50px;
  font-weight: 700;
  font-size: calc(24px + 8 * (100vw / 1920));
  line-height: calc(36px + 8 * (100vw / 1920));
  color: #fff;
}
.link {
  position: absolute;
  z-index: 5;
  top: 345px;
  left: 50px;
  font-weight: 400;
  font-size: calc(14px + 4 * (100vw / 1920));
  line-height: calc(21px + 4 * (100vw / 1920));
  color: #fff;
}
.swiper__pagination {
  display: none;
}
.rectangle__gallery {
  position: absolute;
  bottom: 0;
  left: 120px;
  width: 1036px;
  height: 604px;
  background: rgba(205, 168, 97, 0.2);
  border-radius: 0px 100px 100px 0px;
}
.subscribe {
  position: relative;
  margin-top: 80px;
  padding: 80px 240px;
  background-color: rgba(205, 168, 97, 0.2);
}
.subscribe img {
  width: 100%;
  border-radius: 20px;
}
.sub__block {
  position: absolute;
  margin-top: 100px;
  margin-left: 110px;
}
.subtitle__subscribe {
  font-size: calc(20px + 10 * (100vw / 1920));
  line-height: calc(31px + 10 * (100vw / 1920));
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #34383d;
}
.sub__line {
  width: 610px;
  height: 2px;
  background-color: #cda861;
  margin: 6px 0 20px;
}
.sub__block > p {
  font-weight: 400;
  font-size: calc(18px + 4 * (100vw / 1920));
  line-height: calc(26px + 4 * (100vw / 1920));
  margin-left: 55px;
  margin-bottom: 76px;
}
.enter {
  display: flex;
  justify-content: space-between;
  width: 610px;
  height: 79px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 150px;
}
.enter > p {
  padding: 25px 0 25px 40px;
  font-weight: 400;
  font-size: calc(18px + 4 * (100vw / 1920));
  line-height: calc(26px + 4 * (100vw / 1920));
}
.sub__btn {
  padding: 15px 43px;
  margin: 10px;
  font-weight: 700;
  font-size: calc(16px + 6 * (100vw / 1920));
  line-height: calc(24px + 6 * (100vw / 1920));
  color: #fff;
  text-transform: uppercase;
  background-color: #5e6748;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 150px;
  cursor: pointer;
}
.slider__gallery {
  display: none;
}
/*------------------------------------FOOTER---------------------------------------*/
.footer {
  width: 100%;
  background-color: #d2dac0;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 245px;
  height: 35px;
  margin: 0 auto;
  padding: 70px 0px 52px 0px;
}
.icons a:hover {
  cursor: pointer;
  opacity: 0.5;
}
.icon {
  width: 30px;
  height: 30px;
}
.text__footer {
  width: 325px;
  margin: 0 auto;
  margin-bottom: 39px;
}
.text__footer .pre {
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin-bottom: 25px;
}
.sign_up_title {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.sign_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 635px;
  height: 50px;
  margin: 0 auto 4.625rem;
}
.enter_email {
  width: 500px;
  height: 50px;
  border: 1px solid #000;
  padding-left: 10px;
  color: #000000;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
.enter_email::-webkit-input-placeholder {
  color: #646464;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
.sign_up_button {
  width: 120px;
  height: 50px;
  background-color: #5e6748;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

@media (max-width: 1770px) {
  .header__container,
  .main__container,
  .footer__container {
    padding: 0 calc(20px + (105 - 20) * ((100vw - 320px) / (1770 - 320)));
  }
}