/*----------------------------MAIN------------------------------*/
.main__block {
  margin: 0 auto;
  padding: 0 7.5rem;
}

/*---------------------------SALE------------------------------*/
.sale {
  margin: 2.5rem 0;
  background: url('../img/catalog/png/sale2.png') 50% / cover no-repeat;
  padding-top: 3.875rem;
  padding-bottom: 3.5rem;
}
.sale__box {
  color: #fff;
  background-color: #5e6748;
  width: 6.25rem;
  height: 1.9rem;
}
.text__sale {
  width: 45rem;
  font-size: calc(24px + 11 * (100vw / 1920));
  line-height: calc(37px + 11 * (100vw / 1920));
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
}
.btn__sale {
  display: block;
  padding: 0.9rem 1.5rem;
  background-color: #fff;
  border: 1px solid #000;  
}
.sale__box,
.text__sale,
.btn__sale {
  margin-left: auto;
}
.sale__box,
.btn__sale {
  font-size: calc(14px + 4 * (100vw / 1920));
  line-height: calc(21px + 4 * (100vw / 1920));
  text-align: center;
  border-radius: 0.3125rem;
}
.text__sale,
.btn__sale {
  margin-top: 1.5rem;
}
.sale__container{
  margin: 0 auto;
  padding-right: 120px;
}

/*-----------------------------------FILTER-------------------------------*/
.content {
  display: flex;
}
.filter__title{
  font-weight: 600;
  font-size: calc(25px + 10 * (100vw / 1920));
  line-height: calc(38px + 10 * (100vw / 1920));
  text-transform: uppercase;
}
.filter__line {
  width: calc(90px + 20 * (100vw / 1920));
  height: 0.2rem;
  background-color: #cda861;
  margin-bottom: 2.18rem;
}
.filter {
  width: 385px;
  height: auto;
  border-radius: 0.625rem;
  background-color: #dbe1cd;
  color: #282739;
  padding-top: 1.56rem;
  padding-left: 1.875rem;
  margin-bottom: 1rem;
}
.title__item {
  font-weight: 600;
  font-size: calc(16px + 2 * (100vw / 1920));
  line-height: calc(23px + 2 * (100vw / 1920));
  text-transform: uppercase;
}
.slide__container {
  width: 9.375rem;
  margin: 1.56rem 0 1.375rem;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 9.375rem;
  height: 0.125rem;
  background: #5E6748;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.range {
  display: flex;
  align-items: center;
}
.range input {
  width: 5rem;
  height: 2.18rem;
  border: 1px solid #b4b4b4;
  background-color: #fff;
  border-radius: 0.3rem;
  margin-right: 1.25rem;
  padding: 0.5rem 0.56rem;
  text-align: center;
}
.line_range {
  width: 1rem;
  height: 1px;
  background-color: #282739;
  margin-right: 1.25rem;
}
.range input::-webkit-input-placeholder {
  color: #282739;
  font-size: calc(14px + 2 * (100vw / 1920));
  line-height: calc(22px + 2 * (100vw / 1920));
}
.collections {
  margin: 1.56rem 0;
}
.collections .title__item,
.color .title__item,
.brands .title__item {
  margin-bottom: 15px !important;
}
.collections label,
.color label,
.brands label {
  display: flex;
  margin-top: 1rem;
  font-size: calc(12px + 2 * (100vw / 1920));
  line-height: calc(17px + 2 * (100vw / 1920));
  align-items: center;
}
.collections label input,
.color label input,
.brands label input {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #5d6c7b;
  border-radius: 2px;
  margin-right: 0.7rem;
}
.brands {
  padding: 1.56rem 0 2.375rem;
}
.show_all {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}
.show_all p {
  font-weight: 700;
  font-size: calc(12px + 2 * (100vw / 1920));
  line-height: calc(17px + 2 * (100vw / 1920));
  color: #5e6748;
  margin-right: 1.25rem;
}

/*--------------------------PRODUCT-OF-THE-MONTH-------------------------*/
.product_of_the_month {
  width: 385px;
  height: auto;
  background-color: #ffc600;
  border-radius: 0.625rem;
  padding: 1rem 1.4rem 2.3rem;
}
.product__title {
  font-size: calc(14px + 4 * (100vw / 1920));
  line-height: calc(22px + 4 * (100vw / 1920));
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 0.4rem;
  font-family: 'Jost', sans-serif;
}
.product__line {
  width: 100%;
  height: 1px;
  border: 1px solid #5e6748;
  opacity: 0.2;
}
.product__block {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}
.product__block img {
  margin-right: 1.875rem;
}
.product__name {
  font-family: 'Jost', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: calc(14px + 2 * (100vw / 1920));
  line-height: calc(21px + 2 * (100vw / 1920));
  margin-bottom: 0.25rem;
}
.product__cost {
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: calc(16px + 4 * (100vw / 1920));
  line-height: calc(20px + 4 * (100vw / 1920));
}

/*-----------------------------------CATALOG--------------------------*/
.catalog {
  margin-left: 45px;
  margin-top: 83px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 47px;
}
@media (max-width: 1850px) {
  .catalog {
    grid-template-columns: 1fr 1fr;
  }
}
.goods img {
  width: 100%;
}
.good__name,
.good__line,
.cost,
.stars {
  margin-left: 0.75rem;
}
.good__name {
  font-weight: 600;
  font-size: calc(14px + 4 * (100vw / 1920));
  line-height: calc(21px + 4 * (100vw / 1920));
  letter-spacing: 0.1em;
  margin-top: 1.25rem;
}
.good__line {
  width: 18rem;
  height: 0.2rem;
  background-color: #cda861;
  margin-bottom: 1rem;
  transition: all 1s linear;
}
.goods:hover .good__line {
  width: 25rem;
  transition: all 1s linear;
}
.goods .add__to__cart {
  display: none;
}
.goods:hover .add__to__cart {
  display: block;
  position: absolute;
  margin-top: 262px;
  width: 385px;
  z-index: 5;
  padding: 7px 144px;
  background: rgba(253, 253, 253, 0.8);
  cursor: pointer;
}
.goods .add__to__cart p {
  display: none;
}
.goods:hover .add__to__cart p {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #5e6748;
  text-transform: uppercase;
}
.goods {
  width: 385px;
  height: 410px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.cost {
  font-size: calc(10px + 2 * (100vw / 1920));
  line-height: calc(14px + 2 * (100vw / 1920));
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #000;
  margin-bottom: 0.1rem;
}
.stars {
  margin-bottom: 1.5rem;
}
.stars img {
  width: 12px;
  height: 12px;
}
.label {
  position: absolute;
  z-index: 5;
  padding: 5px 28px;
  border-radius: 5px;
  margin-top: 14px;
  margin-left: 17px;
}
.label.hit {
  background-color: #cb0202;
}
.label.new {
  background-color: #ffc600;
}
.label p {
  font-weight: 700;
  font-size: calc(8px + 4 * (100vw / 1920));
  line-height: calc(12px + 4 * (100vw / 1920));
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: uppercase;
}
.show__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0;
}
.show__more h4 {
  font-weight: 700;
  font-size: calc(25px + 10 * (100vw / 1920));
  line-height: calc(38px + 10 * (100vw / 1920));
  text-transform: uppercase;
  color: #5e6748;
  margin-right: 32px;
}
.show__more img {
  width: 25px;
  height: 40px;
}

/*------------------------------------INFO-BLOCK-----------------------------*/
.information__block {
  display: flex;
  justify-content: space-between;
  background-color: #f5eedf;
  border-radius: 30px;
  padding: 100px 170px;
  color: #000;
}
.information{
  margin-bottom: 70px;
}
.item__info {
  width: 276px;
  text-align: center;
}
.item__info img {
  margin-bottom: 25px;
}
.item__info h4 {
  font-weight: 400;
  font-size: calc(16px + 4 * (100vw / 1920));
  line-height: calc(23px + 4 * (100vw / 1920));
  margin-bottom: 8px;
}
.item__info p {
  font-weight: 400;
  font-size: calc(12px + 2 * (100vw / 1920));
  line-height: calc(17px + 2 * (100vw / 1920));
}
.button_up {
  width: 70px;
  height: 70px;
  background-color: #5e6748;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  bottom: 17px;
  transition: all 1s linear;
}