@media (max-width: 480px) {

  .blog {
    height: 400px;
  }
  .display,
  .rectangle__gallery,
  .subscribe {
    display: none;
  }
  .welcome {
    height: 240px;
    padding-top: 15.625rem;
    padding-bottom: 28rem;
  }
  .title__container{
    float: right;
    margin-right: 0;
  }
  .title {
    font-size: 17px;
    line-height: 23px;
  }
  .title_text {
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 44px;
  }
  .title_button {
    display: none;
  }




  .gallery__blog {
    display: none;
  }
  .subtitle {
    font-size: calc(14px + 2 * (100vw / 1920));
    line-height: calc(20px + 2 * (100vw / 1920));
    margin-bottom: 5px;
    padding-top: 25px;
  }
  .line__subtitle {
    width: calc(200px + 27 * (100vw / 1920));
    height: 2;
    margin: 0 auto 3px;
  }
  .subtitle__block p {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .slider__gallery {
    width: 89.58%;
    display: block;
    margin: 0 25px;
  }
  .image-slider__image img {
    max-width: 100%;
    height: 285px;
  }
  .image-slider .swiper-button-prev,
  .image-slider .swiper-button-next,
  .image-slider .swiper-button-prev:hover,
  .image-slider .swiper-button-next:hover {
    display: none;
  }
 .swiper-pagination-bullets {
   bottom: -360px!important;
 }
  .swiper-pagination-bullet {
    width: 13px!important;
    height: 13px!important;
    margin: 0 7.5px!important;
    background: #c4c4c4!important;
    opacity: 1!important;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #565655!important;
  }


  .calendar,
  .comment {
  top: 190px;
  width: 92px;
  height: 10px;
  }
  .calendar {
  left: 35px;
  }
  .calendar img,
  .comment img {
  width: 10px;
  height: 10px;
  }
  .calendar p,
  .comment p {
  font-size: 11px;
  line-height: 15px;
}
.comment {
  left: 142px;
}
.decore {
  top: 210px;
  left: 35px;
  font-size: 20px;
  line-height: 27px;
}
.link {
  top: 237px;
  left: 35px;
  font-size: 15px;
  line-height: 20px;
}
}